<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Your trusted car showroom offering the finest selection of vehicles.</p>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: info@showroom-auto.com</p>
        <p>Phone: +216 97525261</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <p>
          <a href="#" class="footer-link">Facebook</a> | 
          <a href="#" class="footer-link">Instagram</a> | 
          <a href="#" class="footer-link">Twitter</a>
        </p>
      </div>
    </div>
    <div class="row footer-bottom">
      <p>&copy; {{ currentYear }} Showroom Auto. All rights reserved.</p>
    </div>
  </div>
</footer>
